# Prediction Model For Pre-Game Data

In [10]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
import pickle
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import GridSearchCV

In [3]:
data = pd.read_csv('../../data/cleaned/all_pre_game_data_1103.csv')
data.head()

,SERVER,BTOP_CHAMP_ID,BJGL_CHAMP_ID,BMID_CHAMP_ID,BBOT_CHAMP_ID,BSUP_CHAMP_ID,BBAN1,BBAN2,BBAN3,BBAN4,...,RJGL_CHAMP_ID,RMID_CHAMP_ID,RBOT_CHAMP_ID,RSUP_CHAMP_ID,RBAN1,RBAN2,RBAN3,RBAN4,RBAN5,WINNER
0,EUROPE WEST,150,246,268,15,497,62,107,119,114,...,80,112,29,432,350,119,777,78,429,1
1,EUROPE WEST,114,254,79,498,497,555,-1,-1,103,...,78,55,15,26,157,432,777,119,350,1
2,EUROPE WEST,150,78,517,523,888,432,119,555,55,...,234,429,13,79,92,117,62,103,131,0
3,EUROPE WEST,79,80,4,18,235,517,20,350,122,...,2,432,202,147,517,421,67,119,163,1
4,EUROPE WEST,122,80,517,96,432,67,350,20,29,...,421,163,429,497,39,200,78,119,26,0

In [5]:
X = data.drop(columns=['SERVER','WINNER'])
y = data['WINNER']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=15, stratify=y)

In [15]:
model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.5317220543806647