# Champion Mastery - Korea

In [32]:
import numpy as np
import pandas as pd
import requests as re
import time

In [33]:
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.134 Safari/537.36 Edg/103.0.1264.77",
    "Accept-Language": "en-CA,en-US;q=0.9,en;q=0.8",
    "Accept-Charset": "application/x-www-form-urlencoded; charset=UTF-8",
    "Origin": "https://developer.riotgames.com",
    "X-Riot-Token": "RGAPI-046cac00-eb22-432a-94e1-9c68bd571a92"
}

In [34]:
KR = pd.read_csv('../../data/first_model/raw/KR_all_data_358.csv')
KR.head()

,SERVER,MATCH_ID,BSUM1_ID,BTOP_CHAMP_ID,BSUM2_ID,BJGL_CHAMP_ID,BSUM3_ID,BMID_CHAMP_ID,BSUM4_ID,BBOT_CHAMP_ID,...,FIRST_TOWER,BTOWER_KILLS,RTOWER_KILLS,FIRST_BARON,BBARON_KILLS,RBARON_KILLS,FIRST_INHIB,BINHIB_KILLS,RINHIB_KILLS,WINNER
0,KOREA,KR_6057844675,sbDHeqqUvLDhNA3yYnS3t93fG4d9doqldZjOkb3rwrybN_...,59,3PV_W4RY09TzgEQfBZNdSlsHFwxjwbjzIwXsawLuoSVYyp...,60,C8JeB0UVt7XBWdBC1EsTOMUecwXQ7M2s3aT8BiB6GCyoE4E,777,agy7tVJmthI4QFrgcC_GjBbhdd0juuBeCIIRwH-sS0AM1ek,157,...,RED,1,10,RED,0,1,RED,0,1,RED
1,KOREA,KR_6055710166,TOvKujDuw_rTCUebjSXidH8OJf_IoReR-YNkEDRhF-xCoOA,266,8K1yx07pCws-gzQxIzqyuoyVtEGbaUk35YQDtbEyoFgIA2Y,234,cTfhhY3u5vrB4LTFhUaJgVggwi1IKy14mnQRaL4lYT-SBQ,103,neTBID6mtg2VghrIdOtPVxRrBRJ4elf07mPURSA9hfz9bPc,15,...,BLUE,5,0,NONE,0,0,NONE,0,0,BLUE
2,KOREA,KR_6055326646,vw7N9YLAgtt3OEuzBHDzq7gQjIcdhK-crpvGNdbm7co2dck,29,EV23s0Fe5ptC8cyk1148besP5YnAtguSS9golPxZRwvwEyo,62,5C7Ab5bDdvKhppo5D5JoCiGkuW98oNYJLrjZPfo5cqpG20M,888,aFwzyFYDcqUvZje-bKywj8NPVlMxGj-MfCahYynTXvYVysQ,887,...,BLUE,5,0,NONE,0,0,NONE,0,0,BLUE
3,KOREA,KR_6053723720,5A4WJpFsCzkRoVDHzNAVO6bre5LRlLSlu5bDjX2oBOs9qKE,113,MDqGtPmXx3f2LMeKFTuWuI53bD4usXQCxyua869BLnh8Wx...,80,KgSuGOGxEJikfizSiVtI5v9QcqtN2aPrEmWAyP3Rj9bkuB0,711,T9cTTfK038tIME3U2xPWTaO4Vl20PhEfKnp9JQSobN8OCrk,523,...,RED,6,10,BLUE,1,0,RED,1,2,RED
4,KOREA,KR_6053619349,q3wZkwddVzV3gqDEZuE7l65m8U0j40aFprEdroCXXRyFXi0,14,Tx5p5q4af3CF8ckXbeZCZk4-RD8WepIX3KU1NzF5BS5swQ...,64,FR8ABgAmWaIHci98kpniqL3iddOz_W2zUv3gfV_GjpT74vGk,711,lhTGXwclX7jr-nYbvC1dwC4LaHBJhddgLzqhzO-GeMu62T...,221,...,BLUE,8,3,BLUE,1,0,BLUE,1,0,BLUE

In [35]:
KR.shape

(358, 51)

In [36]:
KR1 = KR[:90]
KR2 = KR[90:180]
KR3 = KR[180:270]
KR4 = KR[270:]

In [37]:
'''
This function uses the champion mastery api to get the champion mastery for a specific champion and summoner.

Region can be: euw1, na1, kr
Summoner input can be:
-  BSUM1_ID - BSUM5_ID
-  RSUM1_ID - RSUM5_ID

Summoner_champ_id input can be:
- BTOP_CHAMP_ID or RTOP_CHAMP_ID
- BJGL_CHAMP_ID or RJGL_CHAMP_ID
- BMID_CHAMP_ID or RMID_CHAMP_ID
- BBOT_CHAMP_ID or RBOT_CHAMP_ID
- BSUP_CHAMP_ID or RSUP_CHAMP_ID
'''


def champion_mastery(df, server, summoner, summoner_champ_id):

    mastery_list = []
    for i in range(len(df)):
        summoner_id = df.iloc[i][summoner]
        champion_id = df.iloc[i][summoner_champ_id]

        try:
            url = 'https://'+ server + '.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/' + summoner_id + '/by-champion/' + str(champion_id)
            res = re.get(url, headers=headers).json()

            mastery = res['championPoints']
            mastery_list.append(mastery)
        except:
            mastery_list.append('error')
            pass

    return mastery_list

## Blue Top

In [38]:
Blue_top_list1 = champion_mastery(KR1, 'kr', 'BSUM1_ID', 'BTOP_CHAMP_ID')
time.sleep(120)
Blue_top_list2 = champion_mastery(KR2, 'kr', 'BSUM1_ID', 'BTOP_CHAMP_ID')
time.sleep(120)
Blue_top_list3 = champion_mastery(KR3, 'kr', 'BSUM1_ID', 'BTOP_CHAMP_ID')
time.sleep(120)
Blue_top_list4 = champion_mastery(KR4, 'kr', 'BSUM1_ID', 'BTOP_CHAMP_ID')
time.sleep(120)
Blue_TOP_list = Blue_top_list1 + Blue_top_list2 + Blue_top_list3 + Blue_top_list4
len(Blue_TOP_list)

358

In [39]:
if 'error' in Blue_TOP_list:
    print(True)
else:
    print(False)

False

## Blue JGL

In [43]:
Blue_JGL_list1 = champion_mastery(KR1, 'kr', 'BSUM2_ID', 'BJGL_CHAMP_ID')
time.sleep(120)
Blue_JGL_list2 = champion_mastery(KR2, 'kr', 'BSUM2_ID', 'BJGL_CHAMP_ID')
time.sleep(120)
Blue_JGL_list3 = champion_mastery(KR3, 'kr', 'BSUM2_ID', 'BJGL_CHAMP_ID')
time.sleep(120)
Blue_JGL_list4 = champion_mastery(KR4, 'kr', 'BSUM2_ID', 'BJGL_CHAMP_ID')
time.sleep(120)
Blue_JGL_list = Blue_JGL_list1 + Blue_JGL_list2 + Blue_JGL_list3 + Blue_JGL_list4
len(Blue_JGL_list)

358

In [44]:
if 'error' in Blue_JGL_list:
    print(True)
else:
    print(False)

False

## Blue MID

In [45]:
Blue_MID_list1 = champion_mastery(KR1, 'kr', 'BSUM3_ID', 'BMID_CHAMP_ID')
time.sleep(120)
Blue_MID_list2 = champion_mastery(KR2, 'kr', 'BSUM3_ID', 'BMID_CHAMP_ID')
time.sleep(120)
Blue_MID_list3 = champion_mastery(KR3, 'kr', 'BSUM3_ID', 'BMID_CHAMP_ID')
time.sleep(120)
Blue_MID_list4 = champion_mastery(KR4, 'kr', 'BSUM3_ID', 'BMID_CHAMP_ID')
time.sleep(120)
Blue_MID_list = Blue_MID_list1 + Blue_MID_list2 + Blue_MID_list3 + Blue_MID_list4
len(Blue_MID_list)

358

In [46]:
if 'error' in Blue_MID_list:
    print(True)
else:
    print(False)

False

## Blue BOT

In [47]:
Blue_BOT_list1 = champion_mastery(KR1, 'kr', 'BSUM4_ID', 'BBOT_CHAMP_ID')
time.sleep(120)
Blue_BOT_list2 = champion_mastery(KR2, 'kr', 'BSUM4_ID', 'BBOT_CHAMP_ID')
time.sleep(120)
Blue_BOT_list3 = champion_mastery(KR3, 'kr', 'BSUM4_ID', 'BBOT_CHAMP_ID')
time.sleep(120)
Blue_BOT_list4 = champion_mastery(KR4, 'kr', 'BSUM4_ID', 'BBOT_CHAMP_ID')
time.sleep(120)
Blue_BOT_list = Blue_BOT_list1 + Blue_BOT_list2 + Blue_BOT_list3 + Blue_BOT_list4
len(Blue_BOT_list)

358

In [48]:
if 'error' in Blue_BOT_list:
    print(True)
else:
    print(False)

False

## Blue SUP

In [49]:
Blue_SUP_list1 = champion_mastery(KR1, 'kr', 'BSUM5_ID', 'BSUP_CHAMP_ID')
time.sleep(120)
Blue_SUP_list2 = champion_mastery(KR2, 'kr', 'BSUM5_ID', 'BSUP_CHAMP_ID')
time.sleep(120)
Blue_SUP_list3 = champion_mastery(KR3, 'kr', 'BSUM5_ID', 'BSUP_CHAMP_ID')
time.sleep(120)
Blue_SUP_list4 = champion_mastery(KR4, 'kr', 'BSUM5_ID', 'BSUP_CHAMP_ID')
time.sleep(120)
Blue_SUP_list = Blue_SUP_list1 + Blue_SUP_list2 + Blue_SUP_list3 + Blue_SUP_list4
len(Blue_SUP_list)

358

In [50]:
if 'error' in Blue_SUP_list:
    print(True)
else:
    print(False)

False

## Red TOP

In [51]:
Red_TOP_list1 = champion_mastery(KR1, 'kr', 'RSUM1_ID', 'RTOP_CHAMP_ID')
time.sleep(120)
Red_TOP_list2 = champion_mastery(KR2, 'kr', 'RSUM1_ID', 'RTOP_CHAMP_ID')
time.sleep(120)
Red_TOP_list3 = champion_mastery(KR3, 'kr', 'RSUM1_ID', 'RTOP_CHAMP_ID')
time.sleep(120)
Red_TOP_list4 = champion_mastery(KR4, 'kr', 'RSUM1_ID', 'RTOP_CHAMP_ID')
time.sleep(120)
Red_TOP_list = Red_TOP_list1 + Red_TOP_list2 + Red_TOP_list3 + Red_TOP_list4
len(Red_TOP_list)

358

In [52]:
if 'error' in Red_TOP_list:
    print(True)
else:
    print(False)

False

## Red JGL

In [53]:
Red_JGL_list1 = champion_mastery(KR1, 'kr', 'RSUM2_ID', 'RJGL_CHAMP_ID')
time.sleep(120)
Red_JGL_list2 = champion_mastery(KR2, 'kr', 'RSUM2_ID', 'RJGL_CHAMP_ID')
time.sleep(120)
Red_JGL_list3 = champion_mastery(KR3, 'kr', 'RSUM2_ID', 'RJGL_CHAMP_ID')
time.sleep(120)
Red_JGL_list4 = champion_mastery(KR4, 'kr', 'RSUM2_ID', 'RJGL_CHAMP_ID')
time.sleep(120)
Red_JGL_list = Red_JGL_list1 + Red_JGL_list2 + Red_JGL_list3 + Red_JGL_list4
len(Red_JGL_list)

358

In [54]:
if 'error' in Red_JGL_list:
    print(True)
else:
    print(False)

False

## Red MID

In [55]:
Red_MID_list1 = champion_mastery(KR1, 'kr', 'RSUM3_ID', 'RMID_CHAMP_ID')
time.sleep(120)
Red_MID_list2 = champion_mastery(KR2, 'kr', 'RSUM3_ID', 'RMID_CHAMP_ID')
time.sleep(120)
Red_MID_list3 = champion_mastery(KR3, 'kr', 'RSUM3_ID', 'RMID_CHAMP_ID')
time.sleep(120)
Red_MID_list4 = champion_mastery(KR4, 'kr', 'RSUM3_ID', 'RMID_CHAMP_ID')
time.sleep(120)
Red_MID_list = Red_MID_list1 + Red_MID_list2 + Red_MID_list3 + Red_MID_list4
len(Red_MID_list)

358

In [56]:
if 'error' in Red_MID_list:
    print(True)
else:
    print(False)

False

## Red BOT

In [57]:
Red_BOT_list1 = champion_mastery(KR1, 'kr', 'RSUM4_ID', 'RBOT_CHAMP_ID')
time.sleep(120)
Red_BOT_list2 = champion_mastery(KR2, 'kr', 'RSUM4_ID', 'RBOT_CHAMP_ID')
time.sleep(120)
Red_BOT_list3 = champion_mastery(KR3, 'kr', 'RSUM4_ID', 'RBOT_CHAMP_ID')
time.sleep(120)
Red_BOT_list4 = champion_mastery(KR4, 'kr', 'RSUM4_ID', 'RBOT_CHAMP_ID')
time.sleep(120)
Red_BOT_list = Red_BOT_list1 + Red_BOT_list2 + Red_BOT_list3 + Red_BOT_list4
len(Red_BOT_list)

358

In [58]:
if 'error' in Red_BOT_list:
    print(True)
else:
    print(False)

False

## Red SUP

In [59]:
Red_SUP_list1 = champion_mastery(KR1, 'kr', 'RSUM5_ID', 'RSUP_CHAMP_ID')
time.sleep(120)
Red_SUP_list2 = champion_mastery(KR2, 'kr', 'RSUM5_ID', 'RSUP_CHAMP_ID')
time.sleep(120)
Red_SUP_list3 = champion_mastery(KR3, 'kr', 'RSUM5_ID', 'RSUP_CHAMP_ID')
time.sleep(120)
Red_SUP_list4 = champion_mastery(KR4, 'kr', 'RSUM5_ID', 'RSUP_CHAMP_ID')
time.sleep(120)
Red_SUP_list = Red_SUP_list1 + Red_SUP_list2 + Red_SUP_list3 + Red_SUP_list4
len(Red_SUP_list)

358

In [60]:
if 'error' in Red_SUP_list:
    print(True)
else:
    print(False)

False

## Champion Mastery Dataset

In [61]:
KR_mastery = pd.DataFrame()
KR_mastery['BTOP_CHAMP_MAST'] = Blue_TOP_list
KR_mastery['BJGL_CHAMP_MAST'] = Blue_JGL_list
KR_mastery['BMID_CHAMP_MAST'] = Blue_MID_list
KR_mastery['BBOT_CHAMP_MAST'] = Blue_BOT_list
KR_mastery['BSUP_CHAMP_MAST'] = Blue_SUP_list
KR_mastery['RTOP_CHAMP_MAST'] = Red_TOP_list
KR_mastery['RJGL_CHAMP_MAST'] = Red_JGL_list
KR_mastery['RMID_CHAMP_MAST'] = Red_MID_list
KR_mastery['RBOT_CHAMP_MAST'] = Red_BOT_list
KR_mastery['RSUP_CHAMP_MAST'] = Red_SUP_list
KR_mastery.head()

,BTOP_CHAMP_MAST,BJGL_CHAMP_MAST,BMID_CHAMP_MAST,BBOT_CHAMP_MAST,BSUP_CHAMP_MAST,RTOP_CHAMP_MAST,RJGL_CHAMP_MAST,RMID_CHAMP_MAST,RBOT_CHAMP_MAST,RSUP_CHAMP_MAST
0,6919,57809,87478,48208,1931,14517,41466,38198,6319,14430
1,235664,70503,85602,42734,34418,1559495,20122,249803,317881,55241
2,27958,19517,10032,76675,205939,199381,16312,66103,77548,182881
3,8310,4802,72337,352103,40156,1713163,38277,205939,42859,39987
4,7703,40831,59683,60969,47285,821404,2228525,205939,7932,54456

In [62]:
KR_mastery

,BTOP_CHAMP_MAST,BJGL_CHAMP_MAST,BMID_CHAMP_MAST,BBOT_CHAMP_MAST,BSUP_CHAMP_MAST,RTOP_CHAMP_MAST,RJGL_CHAMP_MAST,RMID_CHAMP_MAST,RBOT_CHAMP_MAST,RSUP_CHAMP_MAST
0,6919,57809,87478,48208,1931,14517,41466,38198,6319,14430
1,235664,70503,85602,42734,34418,1559495,20122,249803,317881,55241
2,27958,19517,10032,76675,205939,199381,16312,66103,77548,182881
3,8310,4802,72337,352103,40156,1713163,38277,205939,42859,39987
4,7703,40831,59683,60969,47285,821404,2228525,205939,7932,54456
...,...,...,...,...,...,...,...,...,...,...
353,74883,1732099,143567,11516,43784,104128,586347,118783,10344,147390
354,820,40113,385460,213353,108781,74883,19003,80178,43335,1940
355,74883,31676,271304,14294,147390,15898,35002,15402,18539,32769
356,96902,95926,23069,7768,182881,193105,52457,415247,45242,10491
357,265082,739907,96281,24163,3031,96902,19955,102977,26927,20517

In [64]:
KR_mastery.isin(["error"]).any()

BTOP_CHAMP_MAST    False
BJGL_CHAMP_MAST    False
BMID_CHAMP_MAST    False
BBOT_CHAMP_MAST    False
BSUP_CHAMP_MAST    False
RTOP_CHAMP_MAST    False
RJGL_CHAMP_MAST    False
RMID_CHAMP_MAST    False
RBOT_CHAMP_MAST    False
RSUP_CHAMP_MAST    False
dtype: bool

In [22]:
KR_mastery.to_csv('KR_mastery_358.csv', index=False)