# Final Model

In [38]:
import pandas as pd
import numpy as np

mgd = pd.read_csv('../../data/final_datasets/pre_game_data_1045.csv')
mgd.head()

,SERVER,BTOP_CHAMP_ID,BTOP_CHAMP_MAST,BTOP_WINS,BTOP_LOSSES,BTOP_LEAGUE_POINTS,BJGL_CHAMP_ID,BJGL_CHAMP_MAST,BJGL_WINS,BJGL_LOSSES,...,BOT_MASTERY_DIFF,SUP_MASTERY_DIFF,AVG_LANE_MASTERY_DIFF,BSUM_TEAM_MASTERY,RSUM_TEAM_MASTERY,TEAM_MASTERY_DIFF,BSUM_LP,RSUM_LP,TEAM_LP_DIFF,WINNER
0,EUROPE WEST,150,46397,228.0,156.0,1068.0,246,387356,312.0,254.0,...,-32349,-652706,-176674.0,938378,1821748,-883370,4200.0,5374.0,-1174.0,1
1,EUROPE WEST,114,1161674,373.0,340.0,709.0,254,35904,589.0,538.0,...,-98171,180680,119971.6,2104539,1504681,599858,5029.0,4204.0,825.0,1
2,EUROPE WEST,150,156915,194.0,149.0,837.0,78,48145,432.0,375.0,...,41156,-608402,-113640.8,541122,1109326,-568204,4893.0,4454.0,439.0,0
3,EUROPE WEST,79,82980,440.0,408.0,736.0,80,43375,432.0,375.0,...,62141,-6671,-89168.0,651726,1097566,-445840,3499.0,4144.0,-645.0,1
4,EUROPE WEST,122,462466,299.0,253.0,701.0,80,43375,432.0,375.0,...,718297,-156272,-455759.2,1545068,3823864,-2278796,3810.0,3766.0,44.0,0

In [39]:
from sklearn.model_selection import train_test_split

X = mgd.drop(columns=['SERVER', 'WINNER'])
y = mgd['WINNER']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=15, stratify=y)

In [50]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
score = rf.score(X_test, y_test)
print(score)

0.6183206106870229