# Champion Mastery - North America

In [24]:
import numpy as np
import pandas as pd
import requests as re
import time

In [25]:
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.134 Safari/537.36 Edg/103.0.1264.77",
    "Accept-Language": "en-CA,en-US;q=0.9,en;q=0.8",
    "Accept-Charset": "application/x-www-form-urlencoded; charset=UTF-8",
    "Origin": "https://developer.riotgames.com",
    "X-Riot-Token": "RGAPI-046cac00-eb22-432a-94e1-9c68bd571a92"
}

In [26]:
NA = pd.read_csv('../../data/first_model/raw/NA_all_data_379.csv')
NA.head()

,SERVER,MATCH_ID,BSUM1_ID,BTOP_CHAMP_ID,BSUM2_ID,BJGL_CHAMP_ID,BSUM3_ID,BMID_CHAMP_ID,BSUM4_ID,BBOT_CHAMP_ID,...,FIRST_TOWER,BTOWER_KILLS,RTOWER_KILLS,FIRST_BARON,BBARON_KILLS,RBARON_KILLS,FIRST_INHIB,BINHIB_KILLS,RINHIB_KILLS,WINNER
0,NORTH AMERICA,NA1_4396515853,_rz2B5gcGgG78Ce-qPHbK_BjSGuAYXVbU5HehuD69QhJE2I,50,RWNELKaFziEInyoYrBUt2CAKeHxIi_1S71GwvUdr__CJErI,200,WTTjHK7BiVw0fYiDWcPfuV248NITM-7Yvz2t1KqtYjEJzjA,38,F8TVH5gwahG6ByWfv5nt6xmqGItJAOHTP_vRj6R_kYIuDn...,119,...,BLUE,7,0,NONE,0,0,BLUE,1,0,BLUE
1,NORTH AMERICA,NA1_4396540388,r0VX6FfhshlR1S_yFNnv3FZ24b37EPCXZ0X5PUpu82Mqncs,266,qxox9oRsNSZttfe03EJKZgf5_YV7eqYl5SbsSuioeY0zlF8,9,-mhcp2urSsr5scOkFeXXMkzMhzrrJSZ1dWH4z3xLgjlukls,8,F8TVH5gwahG6ByWfv5nt6xmqGItJAOHTP_vRj6R_kYIuDn...,119,...,BLUE,8,4,BLUE,1,0,BLUE,1,0,BLUE
2,NORTH AMERICA,NA1_4396495283,g96u4Zu60wNHE_ghxcPDuC_Mc9ouc3m48Mx_NLdZ1FMdfxg,266,Dr8A8hpa5aBnlkY4qMoo8d40qEcqOIIlfc0C3ojR4JGkJmQ,200,F8TVH5gwahG6ByWfv5nt6xmqGItJAOHTP_vRj6R_kYIuDn...,1,V-vrG5r7dzvV3vppV-vDVZXsFAE0jMQWCIMJPYom6RjAhS...,360,...,BLUE,9,5,BLUE,1,0,BLUE,1,0,BLUE
3,NORTH AMERICA,NA1_4396437949,Mj8iPiDSI3xHQO_1gDFsGz5uf6dwY7vHZla08rzzMuRmHYc,27,H9lyL4tk2OM82hgYSU36Dr-MlVdpGFY7OBQ45cQSnP0jKzNh,421,36g0ZTyQO7y54a6u-u2oAR0lAWoIrU7rL_V65ipeEyautWY,74,DWXk985dJPD6ywHdP9yIVJQe7kGLMVb3c502hFDTLGIaJyU,119,...,BLUE,3,7,RED,0,1,RED,0,2,RED
4,NORTH AMERICA,NA1_4396434056,daODRa4nnhTu0q1-eycLcvTqE_eG9-knakaOpTdDwymGsD0,516,MxCz3g6oBXQubGlvJnMTvdaJ73L6J9CIlYgzoj9nOY_SXuA,131,d1taUIColLPNBQdrVyuo-LdG80RYmo6Bqk_qU5gPsYGsLQs,104,xL-gHga9xDBG2avQT56HZlPRLQUKX2OkvJkfsOtr29S2mr...,523,...,BLUE,4,11,RED,0,1,RED,0,2,RED

In [27]:
NA.shape

(379, 51)

In [72]:
NA.iloc[[225]]

,SERVER,MATCH_ID,BSUM1_ID,BTOP_CHAMP_ID,BSUM2_ID,BJGL_CHAMP_ID,BSUM3_ID,BMID_CHAMP_ID,BSUM4_ID,BBOT_CHAMP_ID,...,FIRST_TOWER,BTOWER_KILLS,RTOWER_KILLS,FIRST_BARON,BBARON_KILLS,RBARON_KILLS,FIRST_INHIB,BINHIB_KILLS,RINHIB_KILLS,WINNER
225,NORTH AMERICA,NA1_4390667606,1ENyOW9qo2vrB-GdGzC2pz_cc4k6HgUjvq7BHw_9qT3rFVQ,10,hhkOYpDSscbeJVFVSG4yDy4hzpENeWEeZPGpesLZoll0Gro,421,ybznjVYN6EPs01t8Xp6w5boMHTJj4OWyg4WBj8FASEaaYzA,134,6J4CtYldCOYxToOuU8Xv5SCWWaNQbhlAuped5o7znoJ7l_8,360,...,NONE,0,0,NONE,0,0,NONE,0,0,RED

In [28]:
NA1 = NA[:100]
NA2 = NA[100:200]
NA3 = NA[200:300]
NA4 = NA[300:]

In [29]:
'''
This function uses the champion mastery api to get the champion mastery for a specific champion and summoner.

Region can be: euw1, na1, kr
Summoner input can be:
-  BSUM1_ID - BSUM5_ID
-  RSUM1_ID - RSUM5_ID

Summoner_champ_id input can be:
- BTOP_CHAMP_ID or RTOP_CHAMP_ID
- BJGL_CHAMP_ID or RJGL_CHAMP_ID
- BMID_CHAMP_ID or RMID_CHAMP_ID
- BBOT_CHAMP_ID or RBOT_CHAMP_ID
- BSUP_CHAMP_ID or RSUP_CHAMP_ID
'''


def champion_mastery(df, server, summoner, summoner_champ_id):

    mastery_list = []
    for i in range(len(df)):
        summoner_id = df.iloc[i][summoner]
        champion_id = df.iloc[i][summoner_champ_id]

        try:
            url = 'https://'+ server + '.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/' + summoner_id + '/by-champion/' + str(champion_id)
            res = re.get(url, headers=headers).json()

            mastery = res['championPoints']
            mastery_list.append(mastery)
        except:
            mastery_list.append('error')
            pass

    return mastery_list

## Blue Top

In [30]:
Blue_top_list1 = champion_mastery(NA1, 'na1', 'BSUM1_ID', 'BTOP_CHAMP_ID')
time.sleep(120)
Blue_top_list2 = champion_mastery(NA2, 'na1', 'BSUM1_ID', 'BTOP_CHAMP_ID')
time.sleep(120)
Blue_top_list3 = champion_mastery(NA3, 'na1', 'BSUM1_ID', 'BTOP_CHAMP_ID')
time.sleep(120)
Blue_top_list4 = champion_mastery(NA4, 'na1', 'BSUM1_ID', 'BTOP_CHAMP_ID')
time.sleep(120)
Blue_TOP_list = Blue_top_list1 + Blue_top_list2 + Blue_top_list3 + Blue_top_list4
len(Blue_TOP_list)

379

In [31]:
if 'error' in Blue_TOP_list:
    print(True)
else:
    print(False)

False

## Blue JGL

In [32]:
Blue_JGL_list1 = champion_mastery(NA1, 'na1', 'BSUM2_ID', 'BJGL_CHAMP_ID')
time.sleep(120)
Blue_JGL_list2 = champion_mastery(NA2, 'na1', 'BSUM2_ID', 'BJGL_CHAMP_ID')
time.sleep(120)
Blue_JGL_list3 = champion_mastery(NA3, 'na1', 'BSUM2_ID', 'BJGL_CHAMP_ID')
time.sleep(120)
Blue_JGL_list4 = champion_mastery(NA4, 'na1', 'BSUM2_ID', 'BJGL_CHAMP_ID')
time.sleep(120)
Blue_JGL_list = Blue_JGL_list1 + Blue_JGL_list2 + Blue_JGL_list3 + Blue_JGL_list4
len(Blue_JGL_list)

379

In [33]:
if 'error' in Blue_JGL_list:
    print(True)
else:
    print(False)

False

## Blue MID

In [36]:
Blue_MID_list1 = champion_mastery(NA1, 'na1', 'BSUM3_ID', 'BMID_CHAMP_ID')
time.sleep(120)
Blue_MID_list2 = champion_mastery(NA2, 'na1', 'BSUM3_ID', 'BMID_CHAMP_ID')
time.sleep(120)
Blue_MID_list3 = champion_mastery(NA3, 'na1', 'BSUM3_ID', 'BMID_CHAMP_ID')
time.sleep(120)
Blue_MID_list4 = champion_mastery(NA4, 'na1', 'BSUM3_ID', 'BMID_CHAMP_ID')
time.sleep(120)
Blue_MID_list = Blue_MID_list1 + Blue_MID_list2 + Blue_MID_list3 + Blue_MID_list4
len(Blue_MID_list)

379

In [37]:
if 'error' in Blue_MID_list:
    print(True)
else:
    print(False)

False

## Blue BOT

In [38]:
Blue_BOT_list1 = champion_mastery(NA1, 'na1', 'BSUM4_ID', 'BBOT_CHAMP_ID')
time.sleep(120)
Blue_BOT_list2 = champion_mastery(NA2, 'na1', 'BSUM4_ID', 'BBOT_CHAMP_ID')
time.sleep(120)
Blue_BOT_list3 = champion_mastery(NA3, 'na1', 'BSUM4_ID', 'BBOT_CHAMP_ID')
time.sleep(120)
Blue_BOT_list4 = champion_mastery(NA4, 'na1', 'BSUM4_ID', 'BBOT_CHAMP_ID')
time.sleep(120)
Blue_BOT_list = Blue_BOT_list1 + Blue_BOT_list2 + Blue_BOT_list3 + Blue_BOT_list4
len(Blue_BOT_list)

379

In [39]:
if 'error' in Blue_BOT_list:
    print(True)
else:
    print(False)

False

## Blue SUP

In [40]:
Blue_SUP_list1 = champion_mastery(NA1, 'na1', 'BSUM5_ID', 'BSUP_CHAMP_ID')
time.sleep(120)
Blue_SUP_list2 = champion_mastery(NA2, 'na1', 'BSUM5_ID', 'BSUP_CHAMP_ID')
time.sleep(120)
Blue_SUP_list3 = champion_mastery(NA3, 'na1', 'BSUM5_ID', 'BSUP_CHAMP_ID')
time.sleep(120)
Blue_SUP_list4 = champion_mastery(NA4, 'na1', 'BSUM5_ID', 'BSUP_CHAMP_ID')
time.sleep(120)
Blue_SUP_list = Blue_SUP_list1 + Blue_SUP_list2 + Blue_SUP_list3 + Blue_SUP_list4
len(Blue_SUP_list)

379

In [41]:
if 'error' in Blue_SUP_list:
    print(True)
else:
    print(False)

False

## Red TOP

In [59]:
Red_TOP_list1 = champion_mastery(NA1, 'na1', 'RSUM1_ID', 'RTOP_CHAMP_ID')
time.sleep(120)
Red_TOP_list2 = champion_mastery(NA2, 'na1', 'RSUM1_ID', 'RTOP_CHAMP_ID')
time.sleep(120)
Red_TOP_list3 = champion_mastery(NA3, 'na1', 'RSUM1_ID', 'RTOP_CHAMP_ID')
time.sleep(120)
Red_TOP_list4 = champion_mastery(NA4, 'na1', 'RSUM1_ID', 'RTOP_CHAMP_ID')
time.sleep(120)
Red_TOP_list = Red_TOP_list1 + Red_TOP_list2 + Red_TOP_list3 + Red_TOP_list4
len(Red_TOP_list)

379

In [61]:
if 'error' in Red_TOP_list:
    print(True)
else:
    print(False)

True

In [63]:
Red_TOP_list.index('error')

225

In [64]:
Red_TOP_list

[1658054,
 18405,
 1003564,
 596227,
 64034,
 32292,
 892941,
 1955369,
 267752,
 809226,
 6783,
 40316,
 232476,
 895246,
 121829,
 1554550,
 219767,
 295681,
 1821627,
 376387,
 66349,
 87440,
 7272,
 1022821,
 98502,
 816262,
 43770,
 125619,
 48120,
 33148,
 265,
 150696,
 326832,
 84683,
 1554550,
 118783,
 346031,
 23326,
 32292,
 157480,
 281997,
 376387,
 60513,
 593103,
 24877,
 63205,
 758728,
 25321,
 271679,
 376387,
 1173664,
 281970,
 120267,
 875,
 8356,
 111228,
 192701,
 6928,
 13283,
 29823,
 153925,
 150696,
 964182,
 1188436,
 913512,
 895246,
 106171,
 95147,
 6528,
 55126,
 196077,
 81143,
 57342,
 1143,
 56799,
 351995,
 998524,
 81143,
 482246,
 3745202,
 333429,
 7670,
 394833,
 258851,
 6620,
 181957,
 173809,
 947449,
 809226,
 26187,
 733,
 232476,
 43906,
 244095,
 154745,
 1288825,
 122294,
 376387,
 100933,
 67638,
 253053,
 407535,
 723877,
 29814,
 1978756,
 64344,
 86796,
 228657,
 573749,
 12375,
 787616,
 463587,
 1071010,
 3752,
 494168,
 81774,
 205712,
 6244,
 331107,
 858,
 6221,
 271679,
 2326809,
 392230,
 30799,
 100652,
 959680,
 33309,
 515064,
 129226,
 27248,
 399610,
 321523,
 28282,
 515064,
 723877,
 494168,
 964182,
 69061,
 33864,
 414736,
 24877,
 59342,
 172122,
 21882,
 330766,
 1843851,
 66078,
 15600,
 23778,
 24034,
 35147,
 1029473,
 7272,
 891432,
 18033,
 59407,
 330766,
 185303,
 38767,
 5697,
 494168,
 149214,
 12783,
 10155,
 30806,
 131292,
 139859,
 11956,
 1159895,
 1978756,
 20008,
 5902,
 190625,
 221027,
 83826,
 1666691,
 5697,
 17330,
 6985,
 2421,
 1018830,
 37578,
 132567,
 154745,
 225829,
 23450,
 100652,
 13433,
 816262,
 698448,
 354514,
 12949,
 12949,
 29515,
 44800,
 33552,
 241944,
 26792,
 1821627,
 54708,
 213675,
 10083,
 59378,
 15600,
 72187,
 81537,
 1562275,
 593103,
 2216889,
 367016,
 34190,
 24877,
 1216,
 247554,
 35205,
 93548,
 34190,
 79876,
 91224,
 22202,
 45647,
 3145,
 3382,
 571,
 'error',
 1425264,
 16542,
 1574351,
 96501,
 12155,
 3471,
 176457,
 150696,
 309844,
 193984,
 10381,
 73271,
 19423,
 185781,
 157026,
 15215,
 228657,
 47146,
 26890,
 262143,
 1613,
 81537,
 44482,
 4262,
 89549,
 840391,
 121156,
 179624,
 376387,
 133261,
 4070,
 56799,
 76223,
 81326,
 81326,
 24775,
 7266,
 94936,
 99487,
 75721,
 96501,
 90136,
 217788,
 29823,
 23150,
 120267,
 2216889,
 45298,
 82844,
 43948,
 2216889,
 313162,
 641170,
 2326809,
 4451,
 12949,
 494168,
 46421,
 44493,
 154424,
 19870,
 83953,
 22472,
 96193,
 19423,
 98502,
 1392321,
 365360,
 24877,
 252748,
 74227,
 352964,
 68837,
 1666691,
 18665,
 21500,
 527166,
 1392321,
 1392321,
 43781,
 1554550,
 199573,
 88361,
 20516,
 28829,
 130223,
 176457,
 1116790,
 4361,
 55961,
 31505,
 16890,
 15183,
 1173664,
 2896346,
 8475,
 501294,
 72067,
 19440,
 483567,
 998524,
 723877,
 33552,
 33552,
 5697,
 333429,
 98502,
 33552,
 34190,
 5697,
 494168,
 8907,
 98502,
 19609,
 572463,
 331107,
 184666,
 227546,
 177380,
 177380,
 118322,
 1233129,
 546250,
 231367,
 31961,
 304295,
 74100,
 9567,
 26844,
 1717613,
 214913,
 392230,
 6640,
 1978756,
 98936,
 451769,
 1392321,
 4640,
 123563,
 120267,
 139859,
 120267,
 9429,
 98936,
 207356,
 913512,
 1595721,
 389451,
 98502,
 2326809,
 3745202,
 1978756,
 98502]

## Red JGL

In [44]:
Red_JGL_list1 = champion_mastery(NA1, 'na1', 'RSUM2_ID', 'RJGL_CHAMP_ID')
time.sleep(120)
Red_JGL_list2 = champion_mastery(NA2, 'na1', 'RSUM2_ID', 'RJGL_CHAMP_ID')
time.sleep(120)
Red_JGL_list3 = champion_mastery(NA3, 'na1', 'RSUM2_ID', 'RJGL_CHAMP_ID')
time.sleep(120)
Red_JGL_list4 = champion_mastery(NA4, 'na1', 'RSUM2_ID', 'RJGL_CHAMP_ID')
time.sleep(120)
Red_JGL_list = Red_JGL_list1 + Red_JGL_list2 + Red_JGL_list3 + Red_JGL_list4
len(Red_JGL_list)

379

In [45]:
if 'error' in Red_JGL_list:
    print(True)
else:
    print(False)

False

## Red MID

In [46]:
Red_MID_list1 = champion_mastery(NA1, 'na1', 'RSUM3_ID', 'RMID_CHAMP_ID')
time.sleep(120)
Red_MID_list2 = champion_mastery(NA2, 'na1', 'RSUM3_ID', 'RMID_CHAMP_ID')
time.sleep(120)
Red_MID_list3 = champion_mastery(NA3, 'na1', 'RSUM3_ID', 'RMID_CHAMP_ID')
time.sleep(120)
Red_MID_list4 = champion_mastery(NA4, 'na1', 'RSUM3_ID', 'RMID_CHAMP_ID')
time.sleep(120)
Red_MID_list = Red_MID_list1 + Red_MID_list2 + Red_MID_list3 + Red_MID_list4
len(Red_MID_list)

379

In [47]:
if 'error' in Red_MID_list:
    print(True)
else:
    print(False)

False

## Red BOT

In [48]:
Red_BOT_list1 = champion_mastery(NA1, 'na1', 'RSUM4_ID', 'RBOT_CHAMP_ID')
time.sleep(120)
Red_BOT_list2 = champion_mastery(NA2, 'na1', 'RSUM4_ID', 'RBOT_CHAMP_ID')
time.sleep(120)
Red_BOT_list3 = champion_mastery(NA3, 'na1', 'RSUM4_ID', 'RBOT_CHAMP_ID')
time.sleep(120)
Red_BOT_list4 = champion_mastery(NA4, 'na1', 'RSUM4_ID', 'RBOT_CHAMP_ID')
time.sleep(120)
Red_BOT_list = Red_BOT_list1 + Red_BOT_list2 + Red_BOT_list3 + Red_BOT_list4
len(Red_BOT_list)

379

In [49]:
if 'error' in Red_BOT_list:
    print(True)
else:
    print(False)

False

## Red SUP

In [50]:
Red_SUP_list1 = champion_mastery(NA1, 'na1', 'RSUM5_ID', 'RSUP_CHAMP_ID')
time.sleep(120)
Red_SUP_list2 = champion_mastery(NA2, 'na1', 'RSUM5_ID', 'RSUP_CHAMP_ID')
time.sleep(120)
Red_SUP_list3 = champion_mastery(NA3, 'na1', 'RSUM5_ID', 'RSUP_CHAMP_ID')
time.sleep(120)
Red_SUP_list4 = champion_mastery(NA4, 'na1', 'RSUM5_ID', 'RSUP_CHAMP_ID')
time.sleep(120)
Red_SUP_list = Red_SUP_list1 + Red_SUP_list2 + Red_SUP_list3 + Red_SUP_list4
len(Red_SUP_list)

379

In [51]:
if 'error' in Red_SUP_list:
    print(True)
else:
    print(False)

False

## Champion Mastery Dataset

In [77]:
NA_mastery = pd.DataFrame()
NA_mastery['BTOP_CHAMP_MAST'] = Blue_TOP_list
NA_mastery['BJGL_CHAMP_MAST'] = Blue_JGL_list
NA_mastery['BMID_CHAMP_MAST'] = Blue_MID_list
NA_mastery['BBOT_CHAMP_MAST'] = Blue_BOT_list
NA_mastery['BSUP_CHAMP_MAST'] = Blue_SUP_list
NA_mastery['RTOP_CHAMP_MAST'] = Red_TOP_list
NA_mastery['RJGL_CHAMP_MAST'] = Red_JGL_list
NA_mastery['RMID_CHAMP_MAST'] = Red_MID_list
NA_mastery['RBOT_CHAMP_MAST'] = Red_BOT_list
NA_mastery['RSUP_CHAMP_MAST'] = Red_SUP_list
NA_mastery.head()

,BTOP_CHAMP_MAST,BJGL_CHAMP_MAST,BMID_CHAMP_MAST,BBOT_CHAMP_MAST,BSUP_CHAMP_MAST,RTOP_CHAMP_MAST,RJGL_CHAMP_MAST,RMID_CHAMP_MAST,RBOT_CHAMP_MAST,RSUP_CHAMP_MAST
0,24775,2414,9967,54102,429503,1658054,15682,143237,83,25745
1,187696,11695,143237,54102,169710,18405,869400,20193,201021,14692
2,75754,29543,24789,2018,4643,1003564,7139,149442,20536,32735
3,676942,26248,966580,100651,199,596227,1121660,45616,23540,541359
4,12820,218760,301346,26261,27904,64034,1121660,38006,54102,178676

In [78]:
NA_mastery.isin(["error"]).any()

BTOP_CHAMP_MAST    False
BJGL_CHAMP_MAST    False
BMID_CHAMP_MAST    False
BBOT_CHAMP_MAST    False
BSUP_CHAMP_MAST    False
RTOP_CHAMP_MAST     True
RJGL_CHAMP_MAST    False
RMID_CHAMP_MAST    False
RBOT_CHAMP_MAST    False
RSUP_CHAMP_MAST    False
dtype: bool

In [76]:
NA_mastery.to_csv('NA_mastery_379.csv', index=False)